body, header {
	min-width: 400px;
	width: auto;
}

/* Navbar */
a.navbar-title-link, a.navbar-title-link:hover {
	color: #d7eeec;
	text-decoration: none;
}

/* Container */
.container-navbar-offset {
	margin-top: 70px;
	margin-bottom: 40px;
}

.colored-div {
	text-align: center;
}

/* Carousel */
div.carousel-wrapper {
	width: 80%;
	margin: auto;
	background-color: white;
}

.carousel-inner > .item > img {
	width: 90%;
	margin: auto;
}

.enhanced {
	font-weight: bold;
	font-size: 1.2em;
}

.login-thumbnail {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

/* Forms */
.form-text {
	font-size: 18px;
}


/* Text size */
.text-h1 {
	font-size: 24px;
	margin: 10px 10px 10px 0px;
}

.text-h2 {
	font-size: 20px;
	margin: 5px 5px 5px 0px;
}

