<div class="container container-navbar-offset">

	<div class="row">
		<div class="col-xs-4 col-sm-3">
			<app-sidenav></app-sidenav>
		</div>
		<div class="col-xs-8 col-sm-9">
			<div class="row content">
				<h1 class="text-primary">Current order</h1>
				<br>
				<div class="table-responsive">
					<table id="cart" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Image</th>
								<th>Article</th>
								<th>Quantity</th>
								<th>Refresh</th>
								<th>Delete</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody *ngFor="let product of order.products">
							<tr>
								<td>No image</td>
								<td>{{ product.id }}</td>
								<td>{{ product.name }}</td>
								<td>{{ product.description }}</td>
								<td>{{ product.quantity }}</td>
								<td>{{ product.price }}</td>
							</tr>
						</tbody>
					</table>
					<table>
						<tr>
							<td><strong>Total:&nbsp;</strong></td>
							<td><strong>{{ getTotal() }} HRK</strong></td>
						</tr>
					</table>
				</div>

				<a class="btn btn-success" routerLink="/signin">CHECKOUT</a> <a
					class="btn btn-danger" routerLink="/product">CANCEL</a>
			</div>
		</div>
	</div>
</div>