<header class="navbar navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<h1 id="navbar-title" align="left">
					<a class="navbar-title-link" routerLink="/" routerLinkActive="active">{{ appName }}</a>
				</h1>
			</div>
			<div class="col-xs-8">
				<h4 align="right">
					<a class="navbar-title-link" routerLink="/signin" routerLinkActive="active"> {{ signIn }} </a>
					<img src="app/img/cart.png">
				</h4> 
			</div>
		</div> 
	</div> 
</header> 
