<div id="sidenav" data-spy="affix" data-offset-top="0">
	<h1>Products</h1>
	<ul id="left-/product-list" class="list-unstyled">
		<li><a routerLink="/product">Computer Cases</a></li>
		<li><a routerLink="/product">CPUs / Processors</a></li>
		<li><a routerLink="/product">Fans, Heatsinks, Cooling</a></li>
		<li><a routerLink="/product">GPUs/Video Graphic Cards</a></li>
		<li><a routerLink="/product">Memory (RAM)</a></li>
		<li><a routerLink="/product">Hard Drives, Storage</a></li>
		<li><a routerLink="/product">Hard Drive Enclosures</a></li>
		<li><a routerLink="/product">Interface / Add-On Cards</a></li>
		<li><a routerLink="/product">Optical Drives</a></li>
		<li><a routerLink="/product">Motherboards</a></li>
		<li><a routerLink="/product">Power Supplies</a></li>
		<li><a routerLink="/product">Racks / Accessories</a></li>
	</ul>
</div>